@import "../variables.module";

.layout {
  .header {
    flex: 0 0 10%;
    background-color: $lightBlue;
  }
  .main {
    flex: 1 0;
    width: 100%;
  }
}

.header {
  .active-link {
    &,
    & .btn.dropdown-toggle {
      background-color: $primary;
      color: #fff;
    }
  }
}
