@import "../../../variables.module";

.outfit-constructor {
  flex: 0 0 75%;

  .garment-slot {
    width: 5rem;
    height: 5rem;
    background-color: #f6f9fa;
    border: 1px solid $primary;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    &.selected {
      background-color: #000;

      &:hover {
        opacity: 0.3;
      }
    }

    > img {
      width: 80%;
      height: 80%;
    }
  }
}

.outfit-parameters {
  flex: 1;
}

.tool-panel,
.garments-search {
  background-color: $lightBlue;

  .sort-icon {
    transition: transform 0.3s ease-out;
    height: 2rem;
    width: 2rem;
    cursor: pointer;

    &.reversed {
      transform: rotate(180deg);
    }

    &:hover {
      opacity: 0.7;
    }
  }

  .garment {
    position: relative;

    .garment-info {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0.7;
      background-color: #000;
      color: #fff;
    }

    &:hover,
    &.selected {
      .garment-info {
        display: flex;
      }
    }
  }
}
